<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示映射xml路径 -->
<mapper namespace="com.mybatis.mapper.UserMapper">
    <resultMap id="userMap" type="com.mmall.ApacheShiro.model.User">
        <id property="uid" column="uid"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <collection property="roles" ofType="com.mmall.ApacheShiro.model.Role">
            <id property="rid" column="rid"></id>
            <result property="name" column="name"></result>
            <collection property="permissions"   ofType="com.mmall.ApacheShiro.model.Permission">
                <id property="pid" column="pid"></id>
                <result property="name" column="name"></result>
                <result property="url" column="url"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="findUserByUserName" parameterType="string" resultType="userMap">
        select * from user where username = #{username}
    </select>
</mapper>